<div class="mt-4 wrapper">
  <h2 class="text-center">Form</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="card p-3">
    <div class="row g-0">
      <!-- Username Input -->
      <app-form-text-input
        label="Username"
        controlName="username"
        [formGroup]="registrationForm"
        placeholder="Enter username"
      ></app-form-text-input>

      <!-- Email Input -->
      <app-form-text-input
        label="Email"
        controlName="email"
        [formGroup]="registrationForm"
        type="email"
        placeholder="Enter email"
      ></app-form-text-input>

      <!-- Password Input -->
      <app-form-password-input
        label="Password"
        controlName="password"
        [formGroup]="registrationForm"
        placeholder="Enter password"
      ></app-form-password-input>

      <!-- Confirm Password Input -->
      <app-form-password-input
        label="Confirm Password"
        controlName="confirmPassword"
        [formGroup]="registrationForm"
        placeholder="Re-enter password"
      ></app-form-password-input>

      <!-- Phone Number Input -->
      <app-form-text-input
        label="Phone Number"
        controlName="phoneNumber"
        [formGroup]="registrationForm"
        placeholder="Enter phone number"
      ></app-form-text-input>

      <!-- Referral Code Section -->
      <div class="mb-3 form-check col-12">
        <input
          type="checkbox"
          id="hasReferralCode"
          class="form-check-input"
          formControlName="hasReferralCode"
          (click)="toggleReferralCode($event)"
        />
        <label for="hasReferralCode" class="form-check-label"
          >I have a referral code</label
        >
      </div>
      <app-form-text-input
        *ngIf="registrationForm.get('referralCode')?.enabled"
        label="Referral Code"
        controlName="referralCode"
        [formGroup]="registrationForm"
        placeholder="Enter referral code"
      ></app-form-text-input>

      <button
        type="submit"
        class="btn btn-primary col-12"
        [disabled]="!registrationForm.valid"
      >
        Submit
      </button>
      <button class="btn btn-secondary col-12 mt-3" (click)="onResetClick()">
        Cancel
      </button>

      <div
        *ngIf="submitted"
        class="alert alert-success text-center col-12 mt-4"
      >
        Form submitted successfully!
      </div>
    </div>
  </form>
</div>
